@font-face {
    font-family: 'Montserrat';
    src: url('../Montserrat/Montserrat-Light.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../Montserrat/Montserrat-SemiBold.ttf') format('ttf');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}